body {
  background: #fafafa;
  color: #000000;
  margin-top: 10rem;
}

h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #000000;
}

.site-header .navbar-nav .nav-link {
  color: #f1f5f7;
}

.nav-item {
  color: #ffffff;
}

.nav-item:hover{
  color: aqua;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 00;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #f2f4f7;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 10.5rem;
}

#wit-col{
  color:#ffffff
}

.col-3 {
  transition: 250ms;
}

.col-3:hover{
  border: 0.02em solid #00000046;
  background-color: #0e04041f;
}

.red-text {
  color: rgb(59, 29, 29);
}

.job-title {
  text-decoration: none;
  color: inherit;
}